
:root{
  /* PRIMARY COLORS */
  --color-blue-light: #64dae3;
  --color-blue-light-1: #00b7c2;
  --color-blue-dark: #0f4c75;
  --color-dark: #1b262c;
  --color-secondary: #f4c613;
  --color-light-1: #f4f4f4;
  --color-light-2: #bbb;

  

}

  
html{

 font-size: 62.5%;   /* 1rem = 10px */

}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-dark);
  font-size: 1.4rem;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VERTICAL AND HORIZONTAL HEADING */

.vertical-heading h5{
  color: var(--color-blue-light);
  font-size: 1.4rem;
  font-weight: 500; 
  text-transform: uppercase;
  word-spacing: 9px;
  display: inline-block;
  transform: rotate(-90deg);
  position: relative;
  top: 6rem;
  left: -5.3rem;
}

.vertical-heading span{
  font-weight: 600;
  /* color: var(--color-blue-light); */
}

.vertical-heading h2{
  margin-left: 3.5rem;  
}

.vertical-heading h2,
.horizontal-heading h2{
  font-size: 4.2rem;
  font-weight: 100;
  line-height: 4.5rem;
}

.horizontal-heading{
  margin-bottom: 8rem;
}

.horizontal-heading h5{
  font-size: 1.6rem;
  color: var(--color-secondary);
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 1rem;
}

/* BUTTONS */
.btn-yellow{
  color: #fff;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary)
}

.btn-blue{
  color: #fff;
  background-color: var(--color-blue-light);
  border: 1px solid var(--color-blue-light)
}

.btn-general {
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  border-radius: 2.8rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 0 .6rem;
  padding: 1.2rem 4.6rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-home {
  color: #fff;
  border: 1px solid #fff;
}
/*--- Navbar --*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  background: black;
  background: rgba(0, 0, 0, .6) !important;
}

.navbar-brand img {
  height: 4.2rem;
}

.navbar-nav li {
  padding-right: .9rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 1rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #37c3ed;
}
/* HOME */

#home{
  position: relative;
  /* height: 120vh; */
}

#home-video{
  width: 100%;
  background-size: contain;
  z-index: -5;
  position: relative;
  /* max-height: 122vh;  */
}

#home-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
 
}

#home-content {
  width: 100%;
  height: 100%;
  display: table;
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translate(-40%, -40%);
}

#home-content-inner {
  display: table-cell;
  vertical-align: middle;
}

#home-heading h1 {
  color: #fff;
  font-size: 6.5rem;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
  letter-spacing: 3px;
}

#home-heading h1 span {
  color: #f4c613;
  font-weight: 400;
}

#home-text p {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 100;
  margin: 1.8rem 0 3rem 0;
}

 
/* ABOUT SECTION */

.content-box-lg{
  padding: 12rem 0;
}

.content-box-md{
  padding: 10rem 0;
}

.paragraph{
  font-size: 1.3;
  letter-spacing: 1px;
}

.about-right .paragraph:first-child{
  margin-bottom: 3rem;
}

.about-bottom .img-responsive{
  width: 60%;
  height: auto;
}

/* ABOUT FEATURES */

.about-features{
  background-color: var(--color-light-1);
}

.about-item{
  background-color: #fff;
  padding: 8rem 3rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  border-radius: 3px;
}

.about-item i{
  font-size: 4.2rem;
  margin-bottom: 1rem;
}

.about-item h3{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-item hr{
  width: 45%;
  height: 3px;
  background-color: var(--color-blue-light);
  margin: 0 auto;
  border: none;
}

.about-item .paragraph{
  font-size: 1.3rem;
  margin-top: 2rem;
}

/* ITEM HOVER */

.about-item:hover{
background-color: var(--color-blue-light);
transform: scale(1.04);
}

.about-item:hover i,
.about-item:hover p,
.about-item:hover h3{
  color: var(--color-light-1);
}

.about-item:hover hr{
  background-color: var(--color-light-1);
}

.about-item:hover i{
  transform: translateY(-1rem);
}

/* TRANSITION */

.about-item,
.about-item i,
.about-item h3{
  transition: all 400ms ease-in-out;
}

/* TEAM SECTION */

.team-member{
  margin: .8rem;
  position: relative;
}

.team-member-overlay{
  background-color: rgba(33, 34, 38, .9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: all 300ms linear;
}

.team-member-info{
  width: 100%;
  height: 100%;
  padding: 8rem 0;
}

.team-member-info h6{
  color: var(--color-blue-light-1);
  font-size: 1.6rem;
  margin: 0;
}

.team-member-info p{
  color: var(--color-light-1);
}

.team-member .vertical-heading{
  min-height: 16rem;
}

.team-member-overlay:hover{
  opacity: 1;
}

.team-left .paragraph{
  margin-top: 2.25rem;
}

/* SOCIAL ICONS */

ul.social-list{
  padding: 0;
  margin-top: 1rem;
}

ul.social-list li{
  display: inline-block;
  padding: 0;
}

ul.social-list li a{
  display: inline-block;
  padding: 0;
  width: 3.2rem;
  height: 3.2rem;
  line-height: 3.2rem;
  color: var(--color-light-1);
  border: 1px solid #fff;
  border-radius: 50%;
  
}

/* SLIDER BUTTONS */
.owl-theme .owl-dots, 
.owl-theme .owl-nav{
color: var(--color-dark);
font-size: 3rem;
background: none;
margin: 0;
} 

.owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
  color: var(--color-dark);
}
.owl-theme .owl-nav [class*=owl-]:focus {
 outline: none;
}

/* Team skills */

.skill{
  margin-bottom: 2rem;
}

.skill h4{
  line-height: 6rem;
  margin: 0;
  font-weight: normal;
}

.progress{
  background: var(--color-light-1);
  height: 2.5rem;
  border-radius: 0; 
  overflow: visible;
}

.progress-bar{
  background: var(--color-blue-light);
  position: relative;
  overflow: visible;
}

.progress-bar span{
  font-size: 1.1rem;
  font-weight: 100;
  padding: .9rem .3rem;
  background-color: var(--color-dark);
  position: absolute;
  left: 97%;
  top: -4.3rem;
}

.progress-bar span::before{
  content: "";
  border-top: .8rem solid var(--color-dark);
  border-left: .6rem solid transparent;
  border-right: .6rem solid transparent;
  position: absolute;
  bottom: -.8rem;
  left: 23%;
}

/* STATEMENT */

#statement{
  background-image: url(../images/quote-image.jpg);
  background-size: cover;

}

#statement .content-box-lg{
  background: rgba(0, 0, 0, .5)
}

.architecture-statement h3{
  color: #fff;
  font-size: 2.8rem;
  line-height: 4.5rem;
}

.architecture-statement p{
  font-size: 1.4rem;
  color: var(--color-blue-light);
  font-family: "Raleway", sans-serif;
  margin-top: .8rem;
}

/* SERVICES */


#services-01 .img-responsive{
  width: 90%;
  height: 90%;
}

#services-01 .content-box-lg{
  padding-bottom: 0;
}

.service{
  margin: 3rem 3rem 0 3rem;
}

.service .icon{
  font-size: 4.2rem;
  margin: 0;
  transition: all 400ms linear;

}
.service:hover .icon{
  color: var(--color-secondary);
  transform: translateX(-2rem);
}

.service h5{
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--color-secondary);
  margin-bottom: .6rem;
}

.service:hover h5{
  color: #212226;
}

.service h4{
  font-size: 2.4rem;
  margin-bottom: .8rem;
}

.service p{
  line-height: normal;
}

.service-tab img{
  width: 100%;
  margin: 0 auto;
  height: 100.3%; 
  
}

.service-tab .img-2{
  height: 68%;
}
.service-tab .img-3{
  height: 85.3%;
}

#services-02{
  background-color: var(--color-light-1);
}

/* #services-02 .content-box-md{
  padding-bottom: 0;
} */

#services-tabs ul{
  margin-bottom: 4rem;
}

#services-tabs ul li{
  padding: .5rem 3rem;
}

#services-tabs ul li a{
  font-family: "Raleway", sans-serif;
  font: 1.3rem;
  color: #212226;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
}

#services-tabs ul li.r-tabs-state-active a{
 color: var(--color-secondary);
 font-weight: 700;
 border-bottom: 3px solid var(--color-secondary);
 padding-bottom: .5rem;
 transition: border-color 300ms linear;
}

.service-tab .tab-bg{
  background: #fff;
  padding: 5rem 3rem;
  margin-left: -3rem;
   max-height: 70rem; 
}

.service-tab h2{
font-size: 4.8rem;
color: var(--color-light-2);
margin-bottom: .2rem;
font-weight: 100;
}

.service-tab h3{
  font-size: 3.2rem;
  margin-bottom: 3rem;
}

.service-tab p{
  line-height: 2.4rem;
  margin-bottom: 3rem;
}


/* PORTOFOLIO */

.portofolio .vertical-heading{
  margin-left: 4.5rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.control ul li{
  list-style: none;
  padding: .5rem 1.5rem;
  color: var(--color-dark);
  margin-top: 3.5rem;
  margin-left: 2.8rem;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 2px;
}

.control .item{
  position: relative;
}

.portofolio .row-1{
  margin-bottom: -1.5rem;
}


/* TESTIMONIALS */

#testimonials{
  font-family: 'Raleway', sans-serif;
  background: var(--color-light-1);
  padding-bottom: 4.5rem;
  overflow:visible;
  margin-top: 27rem;
}

#testimonials img{
  margin-top: 3rem; 
}

#testimonials .vertical-heading{
  padding: 8rem 0;
  margin-bottom: 5rem;
}

#testimonial-slider{
  background:#fff;
  top: -12rem; 
}

.testimonial{
padding: 2rem 4.5rem 0 4rem;
color:#333;
}

.testimonial .row{
  margin-bottom: 2.5rem;
}

.testimonial h3{
  font-size: 3.2rem;
  line-height: 3.5rem;
  font-weight: 100;
}

.testimonial .stars{
  font-size: 2rem;
  color: var(--color-blue-light);
  /* margin: 2rem 0 1rem 0; */
}

.testimonial p{
  line-height: 2;
}


.author .author-name-des{
  width: 15rem;
  margin-top: 8rem;
  text-align: left;
}

.author .author-name-des p{
  margin-top: 1rem;
}

.author .p1{
  color: var(--color-blue-light);
  font-weight: 700;
}

/* STATS */

#stats{
  background-image: url(../images/stats-1.png);
  background-size: cover;
}

#stats .content-box-md{
  background: rgba(0, 0, 0, .5);
}

#stats .vertical-heading{
  margin-bottom: 5rem;
}

#stats .vertical-heading h2{
  color: #fff;
}

#stats .vertical-heading h5{
  color: var(--color-secondary);
}

.stats-item{
  background: rgba(61, 68, 68, .5);
  border-radius: .4rem;
  min-height: 17rem;
  padding: 2.5rem 5rem;
  transition: all .4s linear;
} 

.stats-item i{
  font-size: 4.2rem;
  color: var(--color-secondary);
  margin-bottom: .6rem;
  transition: all .4s linear;
}

.stats-item h3{
  font-size: 3.2rem;
  color: #fff;
  margin: .5rem 0;
}

.stats-item p{
  color: #fff;
  margin: 0;
}

.stats-item:hover{
  background: var(--color-secondary);
}

.stats-item:hover i{
  color: #fff;
  transform: translateY(-1.4rem);
}

/* Clients */

#clients{
  margin-bottom: 2rem;
}

#clients .horizontal-heading{
  margin: 3rem 0;
}

#clients-list{
  padding-top: 4.5rem;
}

.client{
  padding: 0 1rem;
  max-width: 15rem;
  margin: 0 auto;
  line-height: 10rem;
}

.client img{
  display: inline-block !important;
}

/* CONTACT */

#contact-left p{
  margin: 2.5rem 0 2rem 0;
}

ul.office-details{
  list-style: none;
  padding: 0;
}

ul.office-details li{
  font-family: 'Montserrat', sans-serif;
  margin-top: 1.2rem;
  display: flex;
}

ul.office-details li i{
  font-size: 2rem;
  width: 4rem;
}

#contact-left ul.social-list li a{
  text-align: center;
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
}

#contact-left ul.social-list li a:hover{
 color: var(--color-blue-light);
 border-color: transparent;
}

/* CONTACT RIGHT */

#contact{
  background-color: var(--color-light-1);
}

#contact-right{
  padding: 2.5rem 3rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .1);
  border-radius: .4rem;
  background-color: #fff;
}

#contact-right h4{
  font-size: 3rem;
  font-weight: 100;
}

#contact-right p{
  margin-bottom: 2.4rem;
}

#contact-right form .form-control{
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  font-family: inherit;
}

#contact-right form textarea{
  min-height: 13rem;
}

/* Footer */

footer{
  background-color: var(--color-dark);
  padding: 3rem;
}

footer p{
  color: #fff;
  line-height: 2rem;
}

footer p span{
  color: var(--color-blue-light);
  font-weight: 500;
}